# Late payments

In [1]:
import pandas as pd

In [2]:
pd.set_option('display.width', 250)
pd.set_option('display.max_colwidth', 120)

### Reading CSV

In [3]:
policy_df = pd.read_csv("PolicyData.csv", encoding="ISO-8859-1", sep=";", parse_dates=[
    "ClientBirthday","PolicyIssueDate", "PolicyStartDate", "PolicyEndDate", "PolicyActualEndDate"
])

invoice_df = pd.read_csv("InvoiceData.csv", encoding="ISO-8859-1", sep=";", parse_dates=["due_date", "paid_date"])

In [4]:
policy_df["Premium"] = policy_df["Premium"].str.replace(",", ".").astype(float)

invoice_df["amount_premium"] = invoice_df["amount_premium"].str.replace(",", ".").astype(float)

### Dataset dimensions

In [5]:
print("policy_df.shape:\t{}".format(policy_df.shape))

policy_df.shape:	(68638, 39)

In [6]:
print("invoice_df.shape:\t{}".format(invoice_df.shape))

invoice_df.shape:	(358850, 6)

### Column types

In [7]:
policy_df.dtypes

policy_guid                             object
Country                                 object
VehicleType                             object
VehicleUsage                            object
Power                                    int64
Weight                                   int64
VehicleFirstRegistrationYear             int64
Mark                                    object
Model                                   object
Deductible_general                     float64
Fire                                     int64
Theft                                    int64
Natural_disasters                        int64
Road_assistance                          int64
Total_loss                               int64
Vandalism                                int64
Glass                                    int64
Accident                                 int64
Replacement_car                          int64
Gender                                  object
ClientBirthday                  datetime64[ns]
Region                                  object
BMClassMOD                              object
Leasing                                  int64
PolicyIssueDate                 datetime64[ns]
PolicyStartDate                 datetime64[ns]
PolicyEndDate                   datetime64[ns]
PolicyActualEndDate             datetime64[ns]
Nb_of_payments                           int64
Premium                                float64
Channel                                 object
FuelType                                object
avgFuelConsumption                     float64
DriveTrain                              object
RenewalIndicator                         int64
IsRenewed                                int64
BalticRating                             int64
Terminated                               int64
sales_type                              object
dtype: object

In [8]:
invoice_df.dtypes

invoice_guid              object
payment_status            object
policy_guid               object
amount_premium           float64
due_date          datetime64[ns]
paid_date         datetime64[ns]
dtype: object

### Categorical values

In [9]:
def create_stats_df(df):
    values_df = df.select_dtypes(include="object").nunique().to_frame(name="unique")
    values_df["values"] = values_df.apply(lambda item: df[item.name].unique().tolist(), axis=1)
    return values_df

In [10]:
create_stats_df(policy_df)

              unique                                                                                                                   values
policy_guid    68638  [{E4FD3CD8-4141-4E55-A74C-C983ED7EFD8E}, {CD63AD22-81C2-4A86-8E56-AF1084BE49E3}, {480DDB89-BA11-4219-A92C-330ABC6BE1...
Country            1                                                                                                                     [EE]
VehicleType        7                                                             [Passenger car, Van, Bus, Lorry, Truck, Motorcycle, Tractor]
VehicleUsage      10  [Regular, Taxi, Remote Line, Other, Short-term rental, Operative Transport, Dangerous Cargo, ATV, Agricultural Machi...
Mark              69  [TOYOTA, VOLVO, VOLKSWAGEN, SKODA, OPEL, FORD, HONDA, NISSAN, MAZDA, SUBARU, MERCEDES BENZ, LEXUS, AUDI, PEUGEOT, KI...
Model            657  [AVENSIS, S60, CC, SHARAN, OCTAVIA, ASTRA, XC90, S-MAX, CR V, FABIA, QASHQAI, FOCUS, PASSAT, 6, LAND CRUISER, LEGACY...
Gender             3                                                                                                                [M, F, L]
Region            16  [HARJUMAA, PÄRNUMAA, TARTUMAA, JÕGEVAMAA, IDA-VIRUMAA, LÄÄNE-VIRUMAA, JÄRVAMAA, VÕRUMAA, RAPLAMAA, VALGAMAA, HIIUMAA...
BMClassMOD        21                               [0, A1, A2, P1, P6, P2, P10, P3, P4, A4, A3, A9, A10, nan, A5, A7, P7, A6, P5, A8, P8, P9]
Channel            6                                                              [Lean Operator, Direct, Partner, Internet, Unknown, Broker]
FuelType           7                                            [Gasoline, Diesel, Missing, Gasoline-Hybrid, Electricity, CNG, Diesel-Hybrid]
DriveTrain         4                                                                                           [Front, Missing, 4Drive, Rear]
sales_type         3                                                                                              [Renewal, New sale, Upsale]

In [11]:
policy_df.drop(columns=["Country"], inplace=True)

In [12]:
create_stats_df(invoice_df)

                unique                                                                                                                   values
invoice_guid    358850  [{55B3ABD8-B64E-498E-A617-3C6E88C4D06F}, {40544861-68D0-462F-AF9C-8740B2316620}, {B3C6B66F-280E-413B-8FEE-A804903D2F...
payment_status       2                                                                                                [Paid, Canceled and paid]
policy_guid      68638  [{480DDB89-BA11-4219-A92C-330ABC6BE1EC}, {74A1885E-CC4D-435B-B7CF-CAD0287FA814}, {56A693C1-4AE0-41F1-8EE3-C650B595DA...

In [13]:
policy_df.head()

,policy_guid,VehicleType,VehicleUsage,Power,Weight,VehicleFirstRegistrationYear,Mark,Model,Deductible_general,Fire,...,Premium,Channel,FuelType,avgFuelConsumption,DriveTrain,RenewalIndicator,IsRenewed,BalticRating,Terminated,sales_type
0,{E4FD3CD8-4141-4E55-A74C-C983ED7EFD8E},Passenger car,Regular,108,1895,2007,TOYOTA,AVENSIS,191.0,1,...,261.09,Lean Operator,Gasoline,8.0,Front,0,0,3,1,Renewal
1,{CD63AD22-81C2-4A86-8E56-AF1084BE49E3},Passenger car,Regular,120,2050,2008,VOLVO,S60,191.0,1,...,297.22,Lean Operator,Diesel,7.0,Front,0,1,0,1,Renewal
2,{480DDB89-BA11-4219-A92C-330ABC6BE1EC},Passenger car,Regular,125,1970,2012,VOLKSWAGEN,CC,191.0,1,...,534.22,Direct,Diesel,5.0,Front,0,0,0,0,New sale
3,{74A1885E-CC4D-435B-B7CF-CAD0287FA814},Passenger car,Regular,85,2510,2007,VOLKSWAGEN,SHARAN,191.0,1,...,275.24,Direct,Missing,NaN,Missing,0,1,5,1,New sale
4,{FF6D78C8-B660-4D58-8A9D-0FD6E32E2A03},Passenger car,Regular,77,1780,2013,SKODA,OCTAVIA,191.0,1,...,239.77,Direct,Gasoline,NaN,Missing,0,0,2,1,New sale

In [14]:
invoice_df.head()

                             invoice_guid payment_status                             policy_guid  amount_premium   due_date  paid_date
0  {55B3ABD8-B64E-498E-A617-3C6E88C4D06F}           Paid  {480DDB89-BA11-4219-A92C-330ABC6BE1EC}          133.55 2015-12-13 2015-12-14
1  {40544861-68D0-462F-AF9C-8740B2316620}           Paid  {480DDB89-BA11-4219-A92C-330ABC6BE1EC}          133.55 2016-03-13 2016-03-14
2  {B3C6B66F-280E-413B-8FEE-A804903D2FE8}           Paid  {480DDB89-BA11-4219-A92C-330ABC6BE1EC}          133.57 2015-09-14 2015-09-14
3  {674FDC26-D0E8-4C20-BB86-1AE9979EB1AA}           Paid  {480DDB89-BA11-4219-A92C-330ABC6BE1EC}          133.55 2016-06-13 2016-06-13
4  {EE21ECF7-7B70-4DA3-B663-87371073DE18}           Paid  {74A1885E-CC4D-435B-B7CF-CAD0287FA814}           23.01 2015-09-19 2015-09-21

### Preprocessing